@charset "utf-8";
@import "import";

#main {
  background-color: #f8f8f8;
}

.event {
  &__top {
    display: flex;
    justify-content: space-between;
    margin: 44px 0px 24px 0px;
  }
  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
  }
  .nav {
    .nav-item {
      &:last-child {
        .nav-link {
          margin-right: 0;
        }
      }
      .nav-link {
        border: 0px;
        text-decoration: none;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.4);
        padding: 0;
        margin-right: 68px;

        &.active {
          color: #4a8ecc;
          border-bottom: 3px solid;
        }
      }
    }
  }
}

.event-item {
  width: 100%;
  display: inline-block;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 24px;
  .card {
    border: 0;
    .card-title {
      font-weight: 500;
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 22px;
    }
    .card-body {
      padding: 16px 20px 30px 20px;
    }
  }
  &__img {
  }
  &__position {
    span {
      padding-left: 20px;
      font-size: 15px;
      line-height: 18px;
      background: url("./../images/location.png") no-repeat left center;
    }
    margin-bottom: 14px;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  &__left {
    margin-right: 9px;
  }
  &__right {
    flex: 1;
    min-width: 0;
  }
  &__price {
    display: flex;
  }
  &__label {
    margin-right: 10px;
  }
  &__mony {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #fc5056;
    margin-bottom: 14px;
  }
  &__button {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    .btn {
      padding: 11px 11px;
      width: calc(50% - 4px);
      border-radius: 6px;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      text-decoration: none;
      &__list {
        background: rgba(74, 142, 204, 0.14);
        color: rgba(0, 0, 0, 0.7);
      }
      &__buy {
        background: #4a8ecc;
        color: #fff;
      }
    }
  }
}

.calendar {
  border: 1px solid;
  display: flex;
  text-align: center;
  flex-direction: column;
  border: 1px solid #fc5056;
  box-sizing: border-box;
  border-radius: 6px;
  width: 72px;
  height: 80px;
  overflow: hidden;
  &__month {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    background-color: #ed1c24;
    color: #fff;
    padding: 5px 5px 4px 5px;
  }
  &__date {
    font-size: 26px;
    line-height: 30px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 2px;
  }
  &__time {
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.9);
    img {
      margin: 4px 5px 0px 0px;
    }
  }
}

.why {
  background: url("./../images/bg01.png") no-repeat center top/cover;
  padding: 60px 0px 67px 0px;
  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 54px;
  }
}

.box01 {
  min-width: 266px;
  min-height: 196px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ebeff3;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 26px 30px 31px 30px;
  text-align: center;
  img {
    margin-bottom: 30px;
  }
  h3 {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
  }
  p {
    font-size: 15px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
}

.eventholder {
  background: url("./../images/bg02.png") no-repeat center top/cover;
  padding: 70px 0px 67px 0px;
  h2 {
    font-weight: bold;
    font-size: 38px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }
  p {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin-bottom: 39px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    .btn {
      width: 184px;
      height: 66px;
      line-height: 60px;
      background: #ffffff;
      border-radius: 10px;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      color: #3076b6;
    }
  }
}

.home-product-pagination {
  margin: 48px 0 32px 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.pagination-item {
  margin: 0 6px;
  &__left {
    color: #8d8d94;
    font-size: 14px;
    span {
      line-height: 20px;

      margin: 0px 19px 0px 8px;
    }
  }
  &__right {
    font-size: 14px;
    color: #272729;
    span {
      line-height: 20px;
      margin: 0px 8px 0px 19px;
    }
  }
}

.pagination-item__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  min-width: 32px;
  height: 32px;
  display: block;
  text-align: center;
  line-height: 32px;
  border-radius: 2px;
  border-radius: 50%;
  background-color: #fff;
  color: #272729;
  &:hover {
    background-color: #4a8ecc;
    color: #fff;
  }
}

.pagination-item__active .pagination-item__link {
  background-color: #4a8ecc;
  color: #fff;
}

.ourpartner {
  background-color: #f8f8f8;
  padding: 80px 0px 72px 0px;
  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 50px;
  }
}
