@charset "utf-8";
@import "import";

/* ==================================================
	basic settings
================================================== */
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
pre,
td,
th,
dt,
dd {
  line-height: 1.5;
} /* basic line-height */

a {
  color: #4a8ecc;
  &:visited {
  }
  &:active {
  }
  &:hover {
    text-decoration: none;
  }
}

/* code set
-------------------------------------------------- */
pre,
code,
kbd,
samp,
var,
.font_mono {
  font-size: 1.3rem;
  line-height: 1.5;
}
pre {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  overflow-x: auto;
}

/* ==================================================
	RWD layout settings
================================================== */
.show_sp,
.show_pc {
  display: none !important;
}

/* SP
-------------------------------------------------- */
.show_sp {
  @include media(sp) {
    display: block !important;
  }
}

/* PC
-------------------------------------------------- */
.show_pc {
  @include media(pc) {
    display: block !important;
  }
}

/* SPのみ非表示
-------------------------------------------------- */
.sp_none {
  @include media(sp) {
    display: none !important;
  }
}
/* 印刷時のみ非表示
-------------------------------------------------- */
.print_none {
  @include media(print) {
    display: none !important;
  }
}

/* ==================================================
	layout
================================================== */

/* clearfix
-------------------------------------------------- */
.clearfix {
  @include clearfix();
}

/* ==================================================
	image
================================================== */

/* pic
-------------------------------------------------- */
.pic {
  img {
    max-width: 100%;
    height: auto;
  }
}

/* ==================================================
	list
================================================== */
